/*sections------------------------------------------------------------------- */
body {
    /*background-color: #e6e6e6;*/
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;    font-family:  "Segoe UI light", Georgia;
    color: black;
    text-align: left;
    font-size: 16px;
    list-style-position: inside;
    line-height: 20px;
	
}
#wrapper {
  display: grid;
		  grid-row-gap: 1;

  grid-template-areas:
   "banner"
   "menu"
   "nav"
   "table"
   "main"
   "aside"
   "footer";
}

.master-list li{
    background-color: #71C8EA;
    padding: 0.5rem;
}

.blueback{
    background-color: #71C8EA;
    padding: 1rem;
}

.intro {
    font-size: 20px;
    padding: 15px 10%;
    text-align: center;
    background-color: #f9f8ec;
}

.image-fluid {
  width: 30%;
    margin: 10px 0;
  max-width: 900px; /*max-width measurement should be the actual width of your image*/
}

article img {
  float: left;
  padding: 1%;
  width: 33%; /*image 1/3 width of the article element*/
  max-width: 240px;/*max-width measurement should be the actual width of your image*/
}
.clear {
  clear: both;
}

.ParaStyle{
    font-size: 110%;
    font-family: 'Varela Round', sans-serif;
    background-color: #f9f8ec;
    color: #1F1F1F;
}
p.ParaStyle:first-letter{
    float: left;
    padding: 1% 0;
    font-family: 'Varela Round', sans-serif;
    color:#9E273F;
    font-size: 3em;
    line-height: 0.2;
    margin: 8px 5px 0 0;
}

    



@media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 3fr 6fr;
	  	  grid-row-gap: 0;

    grid-template-areas: 
      "banner  banner"
      "menu  menu"
      "nav  table"
      "aside  main"
      "footer  footer";
  }
}
 @media (min-width: 60em) {
  #wrapper {
    grid-template-columns: 2fr 4fr 2fr;
	  grid-row-gap: 0;
    grid-template-areas: 
      "banner  banner  banner"
      "menu  menu  menu"
      "nav  table  aside"
      "nav  main  aside"
      "footer  footer  footer";
   }
}

.header ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    float: none;  
    list-style-type: none;
}
h4{
    text-align: right;
    padding-right: 10px;
    display: inline-block;

}

Button1 {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
	background-color: #8ceeee;
    padding: 15px; 
    border-radius: 10px; 

}

/*Collapsable List----------------------https://alligator.io/css/collapsible/-----------------------*/


input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
font-family: 'Varela Round', sans-serif;
    font-size: 180%;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #59232E;
  background: #26BFBF;

  cursor: pointer;

  
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #D6D282;
}


.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {

  border-bottom: 1px #26BFBF;

  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1300px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/*-----------Menu------------------------------------------*/









/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=email]{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=date]{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:black;
}

/* Add a background color and some padding around the form */
.form {
  border-radius: 5px;
  background-color:grey;
  padding: 20px;
}




img.TopImage{
    width: 99.5%;
}






.menu {
    
    background-color: #048ABF; 
font-family: 'Varela Round', sans-serif;
}

.menu a{
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    background-color: #04B2D9;
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown .dropdownb:hover{
    background-color: #04B2D9;
}

.dropdown .dropdownb {
    font-size:20px;
    border: none;
    outline: none;
    background-color: #048ABF; 

    color: white;

    font-family: inherit;
    margin:0;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    margin: 0;
    margin-top: 0;
    width: 280px;
    background-color: #048ABF; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    float: none;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #04B2D9;
    color: #FC6170;
}

/*grid assigning----------------------------------------------*/

.banner {grid-area: banner;}
.menu {grid-area: menu;}
nav{grid-area: nav;}
table{grid-area:nav;}
main{grid-area:main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

/*Navigation-------------------------------------------------------------------------*/

.Sidebar {
    background-color: #048ABF; 
    font-family: 'Varela Round', sans-serif;
}

.Sidebar a{
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*headings------------------------------------------------------------------- */
table{
}
.banner{
    display: block;
    background-color: #048ABF;
}
header{
        list-style-type: none;
}
h1	{
	padding-left: 10px;
font-family: 'Varela Round', sans-serif;
    font-size: 200%;
    line-height: normal;
	text-align: center;
    color: white;
        list-style-type: none;
        display: inline-block;


}
h2	{
    font-family: 'Varela Round', sans-serif;
    color: black;
    font-size: 180%;
}
h3 	{
    font-family:'Segoe UI';
    color: black;
}
h4{

    font-family: 'Varela Round', sans-serif;
	color: white;
	list-style-type: none;
	align: right;


}
ul{
	        list-style-type: none;

}
/*grouping------------------------------------------------------------------- */
p	{
    line-height: 1.5;
         margin: 10px 0 10px 0;

}

main{
	padding-left: 5px;
    

}

.mainBackGround{
    background-color: #e6e6e6;
}

blockquote	{
}
.fltlt {
 float: left;
 margin-right: 10px;
}
 .clear {
 clear: both;
}
.Header {
	text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

/*Test----------------------*/
img.resize {
    width: 40%;
    height:40%;
}

.imgtable {
    position: relative;
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
    
}
.column {
  flex: 25%; 
  max-width: 150%;
  padding: 0 4px;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}


